@import url( reset.css );
/**
 * @see http://codepen.io/thebabydino/pen/jfqtv
 */
body {
	background-color: #fff;
	font-family: arial;
	color: #151515;
	font-size: 10px;
	padding:15em 0 0 35em;
}
.container {
	width:400px;
	height:100px;
	background:#fefefe;
	border-radius:3em;
	border:0.1em dashed #666;
}
p {
	float:left;
	font-size:2em;
	padding:2em;
	color:#838dee;
	
}
.dubBtn {
	display:inline-block;
	float:right;
	position:relative;
	margin:2em 2em 0 0;
	font-size:1em;
}
.dubBtn a {
	display:block;
	color:#00aeef;
	text-decoration:none;
	text-align:center;
}
.dubBtn a:hover {
	color:#838dee;
}
.dubBtn a.btn {
	height:6em;
	width:6em;
	position:relative;
	z-index:2;
	/*#00aeef*/
	border:0.4em solid #666;
	border-radius:3.5em;
	font-weight:bold;
	background: -webkit-linear-gradient(top,  #fff
0%,#ddd 100%);
	box-shadow: 0 0.3em  0.3em  #ccc;
}

.dubBtn a.btn span {
	position:relative;
	top:0.445em;
	left:0.07em;
	font-weight:bold;
	font-size:3em;
	letter-spacing:0.1em;
}
.dubBtn a.btn:hover {
	color:#fff;
	background:rgba(0,174,239,1);
}
.dubBtnOn a.btn {
	color:#fff;
	background: -webkit-linear-gradient(top,  #555
0%,#666 100%);
	box-shadow: none;
}
.dubBtnOn a.btn:hover {
	color:#888;
	background: -webkit-linear-gradient(top,  #444
0%,#555 100%);
}


.dubBtn ul {
	position:absolute;
	top:0;
	left:0;
	z-index:1;
	width:100%;
	height:100%;
	-webkit-transform: scale(0.1) rotate(-180deg);
	-webkit-transition: -webkit-transform 0.2s ease-in;
}
.dubBtnOn ul {
	-webkit-transform: scale(1) rotate(0deg);
}

.dubBtn ul li {
	position:absolute;
	border:0.4em solid #666;
	width:4em;
	height:4em;
	background:#ccc;
	box-shadow: 0 0.3em  0.3em  #ccc;
	transform-origin: 100% 100%;
/*	-webkit-transition: -webkit-transform 0.5s ease-in;*/
}
.dubBtn ul li a {
	display:block;
	width:100%;
	height:100%;
	color:#fff;
}
.dubBtn ul li a span {
	position:relative;
	font-weight:bold;
	letter-spacing:0.1em;
}
.dubBtn ul li a:hover {
	color:#666;
	background:rgba(255,255,255,0.3);
}
.dubBtn ul li.share {
	background:#00aeef;
}
.dubBtn ul li.like {
	background:#ff8b36;
}
.dubBtn ul li.buy {
	background:#838dee;
}
.dubBtn ul li.wishlist {
	background:#8dc63f;
}
.dubBtn ul li:first-child {
	top:0.8em;
	right:-4.5em;
	width:5em;
	border-top-right-radius:2em;
	border-bottom-right-radius:2em;
}
.dubBtn ul li:first-child a {
	border-top-right-radius:2em;
	border-bottom-right-radius:2em;
}
.dubBtn ul li:first-child span {
	top:1.2em;
}
.dubBtn ul li:nth-child(2)  {
	left:0.8em;
	bottom:-4.5em;
	width:4.2em;
	height:5em;
	border-bottom-right-radius:2em;
	border-bottom-left-radius:2em;
}
.dubBtn ul li:nth-child(2) a {
	border-bottom-right-radius:2em;
	border-bottom-left-radius:2em;
}
.dubBtn ul li:nth-child(2) span {
	top:1.8em;
}
.dubBtn ul li:nth-child(3)  {
	top:0.8em;
	left:-4.5em;
	width:5em;
	border-top-left-radius:2em;
	border-bottom-left-radius:2em;
}
.dubBtn ul li:nth-child(3) a {
	border-top-left-radius:2em;
	border-bottom-left-radius:2em;
}
.dubBtn ul li:nth-child(3) span {
	top:1.2em;
}
.dubBtn ul li:last-child {
	left:0.8em;
	top:-4.5em;
	width:4.2em;
	height:5em;
	border-top-right-radius:2em;
	border-top-left-radius:2em;
}
.dubBtn ul li:last-child a{
	border-top-right-radius:2em;
	border-top-left-radius:2em;
}
.dubBtn ul li:last-child span {
	top:.8em;
}