@import url( reset.css );
/**
 * @see http://codepen.io/thebabydino/pen/jfqtv
 */
body {
	background-color: #fff;
	font-family: arial;
	color: #151515;
	font-size: 10px;
	padding:15em 0 0 35em;
}
.container {
	width:400px;
	height:100px;
	background:#666;
	border-radius:3em;
	border:0.1em dashed #666;
	
	background: #555 url('../images/share-icon.svg') no-repeat scroll top left;
}
p {
	float:left;
	font-size:2em;
	padding:2em;
	color:#838dee;
	
}
.dubBtn {
	display:inline-block;
	float:right;
	position:relative;
	margin:2em 2em 0 0;
	font-size:1em;
}
.dubBtn a {
	display:block;
	color:#00aeef;
	text-decoration:none;
	text-align:center;
}
.dubBtn a:hover {
	color:#838dee;
}
.dubBtn a.btn {
	height:6em;
	width:6em;
	position:relative;
	z-index:2;
	/*#00aeef*/
	border:0.4em solid #666;
	border-radius:3.5em;
	font-weight:bold;
	color:#fff;
	background: #00aeef;/*aka background:rgba(0,174,239,1);*/
	box-shadow: 0 0.3em  0.3em  #ccc;
}

.dubBtn a.btn div.dub {
	position:relative;
	top:0.445em;
	/*left:0.07em;*/
	left:-0.04em;
	font-weight:bold;
	font-size:3em;
	letter-spacing:0.1em;
	-webkit-transition: -webkit-transform 0.2s ease-in;
	-webkit-transform: scaleX(-1);
}
.dubBtnOn a.btn div.dub {
	font-size:2.3em;
	top:0.7em;
	left:0.05em;
	-webkit-transform: scaleX(1);
}
.dubBtn a.btn:hover {
	color:#fff;
	background: -webkit-linear-gradient(top,  #555
0%,#666 100%);
}
.dubBtnOn a.btn {
	color:#fff;
	background: -webkit-linear-gradient(top,  #999
	0%,#888 100%);
	box-shadow: 0 0 0 #444, inset 0 0 3em #666;
}
.dubBtnOn a.btn:hover {
	background: -webkit-linear-gradient(top,  #878787
0%,#767676 100%);
	box-shadow: 0 0 0 #444, inset 0 0 3em #656565;
}


.dubBtn ul {
	position:absolute;
	top:0;
	left:0;
	z-index:1;
	width:100%;
	height:100%;
	-webkit-transform: scale(0.1) rotate(-180deg);
	-webkit-transition: -webkit-transform 0.2s ease-in;
}
.dubBtnOn ul {
	-webkit-transform: scale(1) rotate(0deg);
}

.dubBtn ul li {
	position:absolute;
	border:0.3em solid #666;
	width:4em;
	height:4em;
	background:#ccc;
	box-shadow: 0 0.3em  0.3em  #ccc;
	transform-origin: 100% 100%;
	border-radius:6em;
/*	-webkit-transition: -webkit-transform 0.5s ease-in;*/
}
.dubBtn ul li a {
	display:block;
	width:100%;
	height:100%;
	color:#fff;
	border-radius:6em;
}
.dubBtn ul li a div {
	position:relative;
	font-weight:bold;
	letter-spacing:0.1em;
	display:inline-block;
}
.dubBtn ul li a:hover {
	color:#666;
	background:rgba(255,255,255,0.3);
}

/*themes*/
.dubBtn ul li.share {
	background:#00aeef;
}
.dubBtn ul li.like {
	background:#ff8b36;
}
.dubBtn ul li.buy {
	background:#838dee;
}
.dubBtn ul li.wishlist {
	background:#8dc63f;
}

/*icons*/
.dubBtn ul li.share a div {
	top:0.98em;
	left:0.35em;
	font-size:0.96em;
	padding:0.4em 0.3em 0.4em 0.4em;
	border-radius:0.2em;
	width:2.34em;
	height:2.22em;
	text-indent:-9999px;
	-webkit-background-size: cover;
	background: url('../images/share-icon.svg') no-repeat scroll top left;
}

.dubBtn ul li.like a div {
	top:.15em;
	left:.05em;
	font-size:4em;
}
.dubBtn ul li.like a:hover div {
	color:rgba(231,49,77,1);
}
.dubBtn ul li.buy a div {
	top:1em;
	left:-0.2em;
	background:#fff;
	color:#838dee;
	text-transform:uppercase;
	font-weight:bold;
	padding:0.4em 0.3em 0.4em 0.4em;
	border-radius:0.2em;
	text-shadow: 0 0.1em  0.1em  #eee;
	box-shadow: 0 0.1em  0.1em  #eee;
}
.dubBtn ul li.wishlist a div {
	top:0.5em;
	text-shadow: 0 0.1em  0.1em  #eee;
}
.dubBtn ul li.wishlist a div span{
	font-size:2em;
}


.dubBtn ul li:first-child {
	top:0.8em;
	right:-4.5em;
	width:5em;
	border-top-right-radius:5em;
	border-bottom-right-radius:5em;
}
.dubBtn ul li:first-child a {
	border-top-right-radius:5em;
	border-bottom-right-radius:5em;
}

.dubBtn ul li:nth-child(2)  {
	left:0.8em;
	bottom:-4.3em;
	width:4.2em;
	height:5em;
	border-bottom-right-radius:5em;
	border-bottom-left-radius:5em;
}
.dubBtn ul li:nth-child(2) a {
	border-bottom-right-radius:5em;
	border-bottom-left-radius:5em;
}

.dubBtn ul li:nth-child(3)  {
	top:0.8em;
	left:-4.5em;
	width:5em;
	border-top-left-radius:5em;
	border-bottom-left-radius:5em;
}
.dubBtn ul li:nth-child(3) a {
	border-top-left-radius:5em;
	border-bottom-left-radius:5em;
}

.dubBtn ul li:last-child {
	left:0.8em;
	top:-4.3em;
	width:4.2em;
	height:5em;
	border-top-right-radius:5em;
	border-top-left-radius:5em;
}
.dubBtn ul li:last-child a{
	border-top-right-radius:5em;
	border-top-left-radius:5em;
}
